
/* NE FONCTIONNE PAS POUR L'INSTANT!!!!*/

@font-face {
    font-family: 'fontawesome';
    src: url('../fonts/fontawesome-webfont.eot');
    src: url('../fonts/fontawesome-webfont.woff') format('woff'),
         url('../fonts/fontawesome-webfont.ttf') format('truetype'),
         url('../fonts/fontawesome-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}


html, body{
    margin: 0 0 0 0;
    width:100%;
    height:100%;
    font-family:'fontawesome';
    font-size: 20px;
}

/* Format des différentes pages */
 #logoEtMenu, #listeDesServices, #exemplesDeProjets, #carteEtFormulaire {
        background-color: #f5f5f5;
        height: 100%;
        width: 100%;
        min-height: 980px;
	overflow:hidden;
 }

/* 1ère partie ; image de bienvenue avec son contenu ---------------------*/

   
    /* Disposition du logo et du menu sur la même ligne*/
    #conteneurLogoEtMenu{
	display:flex;
        position: relative;
	justify-content: space-between;
        height: 110px;
    }
    
    	/* Logo */
    	.logoEtMenu:nth-child(1){
        	margin:30px 0 0 13%;
    	}
	
    	/* Menu */
    	#conteneurBarreDeMenu {
		display:flex;
		margin-right:13%;
      	  	text-align:center;
        	font-size: 18px; 
    	}

    		.barreDeMenu {
			text-align:center;
       			width: 85px;
        		line-height: 100px;
        		text-decoration: none;
        		color:grey; 
    		}    

    		/* Survol du menu */
    		#conteneurBarreDeMenu :hover {
        		line-height: 90px;
        		color:black;
        		border-top: 5px solid #5cadd3;
    		}

    /* Image de bienvenue */
    #imageDeBienvenue{
        position: relative;
        background: url('images/slider/bg1.jpg');
        background-size: cover;
        height: 73%;
        width: 100%;
    }

    /*bordure en bas de l'image*/
    #ajoutBordureBleu{
        position:absolute;
	height:100%;
	bottom:0;
        width: 13%;
        border-bottom: 5px solid #5cadd3;
    }

    #ajoutBordureTransparent{ 
        position:absolute;
	height:100%;
	bottom:0;
	left:13%;
        width: 87%;
        border-bottom: 5px solid transparent;
	opacity:0,1;
    }

    /* Message de bienvenue */
    #messageDeBienvenue{  
	position:relative;      
        margin-left : 13%; 
        color: white;
    }

    #buttonInfo{
        border-radius: 2px;
        height: 50px;
        width: 125px;
        font-size: 18px;
        font-weight: bold;
        background-color: #5cadd3;
        color:white;
        border: #5cadd3;
        box-shadow: 0 3px #4494bb;
        
    }

    .fa-angle-right{
	position:absolute;
	top:50%;
	left:98%;
	width:60px;
	height: 60px;
	text-align:center;
	color:white;
	background-color:#444348 ;
        border: 2px solid #444348;
        border-radius: 1000px;
    }

    .fa-angle-left{
	position:absolute;
	top:50%;
	left:1%;
	font-size 15px;
	color:white;
    }
		/* RESPONSIVE */
		@media screen and (max-width: 1024px)
		{
   			#conteneurBarreDeMenu{
       				flex-direction:column;
    			 }
			.barreDeMenu {
				height:20%;
				line-height: 40px;
			}
			#conteneurBarreDeMenu :hover {
        			border:0;
				line-height:40px;
    			}
		}

		@media screen and (max-width: 480px)
		{
			.logoEtMenu:nth-child(1){
        			display:none;
    			}
			
				#conteneurBarreDeMenu{
       				flex-direction:column;
				margin-left:40%;
    			 }	
		}



/* Header de la page 2 et 3 (titre icone et paragraphe de description)-------------------- */

    /* Titre de la page */
        #titre{
            font-size: 50px;
            text-align: center;        
        }

        /* icone sous le titre h1*/
        .decorationSousTitre{
            text-align: center;
        }


        #listeDesServices .fa, #exemplesDeProjets .fa{
            text-align: center;
            color: #5cadd3;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

       #listeDesServices hr, #exemplesDeProjets hr{
        width: 50px;
        display: inline-block;
        opacity: 0.1;
        margin: 0 0 4px 0;
       }


        /* paragraphe sous le titre h1*/
       #listeDesServices .decorationSousTitre + p, #exemplesDeProjets .decorationSousTitre + p  {
            text-align: center;
        }


/* 2ème partie ; Liste des services offerts par l'agance --------------------*/

    /* FLEXBOX*/

            /* Mise en place de l'image à gauche et des services à droite */
            #conteneurElement{
                display: flex;
                justify-content: space-around;
		margin-left:9%;
            }
		.element:nth-child(1){
                    margin-left:8%;
                }

		 #conteneurElement img{
               		height:400px;
            	}	

                .element:nth-child(2){
                    margin: 5% 7% 0 4%;
                }

            /* Mise en forme des services verticalement */
            #conteneurDesServices{
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
                
                .lesServices:nth-child(1){
                    margin-bottom: 25px;
                }

                .lesServices:nth-child(2){
                    margin-bottom: 25px;
                }

            /* Dispositions des icones et du texte des différents services*/
             
             #conteneurDispositionServices1,#conteneurDispositionServices2,#conteneurDispositionServices3{
                display: flex;            
            }

                .dispositionServices1:nth-child(1),.dispositionServices2:nth-child(1),.dispositionServices3:nth-child(1){
                    color: #5cadd3;
                    font-size:25px;
                    margin-top: 10px;
                    
                 }
                .dispositionServices1:nth-child(2),.dispositionServices2:nth-child(2),.dispositionServices3:nth-child(2){
                    color: #5cadd3;
                    font-size:15px;
                    margin: 30px 0 0 52px;                    
                    position: absolute;
                    background-color: #f5f5f5;
                    border:2px solid #f5f5f5;
                    border-radius: 1000px; 
                }
                .dispositionServices1:nth-child(3),.dispositionServices2:nth-child(3),.dispositionServices3:nth-child(3){
                    margin-left: 35px;
                }
                
               

    /* Bordure des icones des différents services */
    #conteneurElement .fa-line-chart, #conteneurElement .fa-cubes, #conteneurElement .fa-pie-chart{
        border:1px solid #dbdbdb;
        border-radius: 1000px;
        height: 60px;
        width: 60px;
        line-height: 60px;
    }

    /* titre des trois articles  */
    .titreService{
        font-size: 23px;
        font-weight: bold;
        
    }


		/* RESPONSIVE */


		@media screen and (max-width: 1280px)
		{
   			#conteneurElement{
                    		flex-direction:column;
                	}
			.element:nth-child(1){
                    		margin:0;
				text-align:center;	
                	}
			#conteneurElement img{
                    		height:0%;
					
                	}
			.element:nth-child(2){
                    	margin: 1% 7% 0 4%;
                }
                }
		
		@media screen and (max-width: 780px)
		{
   			.element:nth-child(1){
                    		display:none;
				
                	}
			.element:nth-child(2){
                    		margin: 2% 0% 0 0%;
                	}	
		}


/* 3ème partie ; Exemples de projet déjà réalisés --------------------*/
    

    /* Mise en forme du mini menu des différents projets*/
    #conteneurRubriqueProjet{
        display: flex;
        justify-content: center;
        text-align: center;
        height: 50px;
        line-height: 300%;
        
        
    }
        .rubriqueProjet:nth-child(1){
	    position: relative;
            font-size: 20px;
            background-color:#e5e5e5;
            border-radius: 4px 0 0px 5px;            
            width: 100px;
            
        }
        .rubriqueProjet:nth-child(2), .rubriqueProjet:nth-child(3){
	    position: relative;
            font-size: 20px;
            background-color:#e5e5e5;
            width: 100px;


            }
        .rubriqueProjet:nth-child(4){
	    position: relative;
            font-size: 20px;
            background-color:#e5e5e5;
            border-radius: 0 2px 0 0;  
            width: 100px;
            }

        .rubriqueProjet:nth-child(1):hover, .rubriqueProjet:nth-child(2):hover, .rubriqueProjet:nth-child(3):hover, .rubriqueProjet:nth-child(4):hover{
	    background-color:#468cad;
            color: white;
      
        }
	.triangle{
	    position: absolute;
	    width: 0;
	    bottom: -10px;
	    left: 50%;
	    transform: translateX(-50%);
	    border-style: solid;
	    border-width: 10px 10px 0 10px;
	    border-color: red  transparent transparent transparent;
	}  
	
	.triangle:hover{
	    border-color: #468cad transparent transparent transparent;
	}
        
      /* Les Projets-images mis en 2 lignes 4 colonnes */

    #conteneurProjetImage{
        display: flex;
        justify-content:space-around;
        flex-wrap:wrap;
        margin: 50px 100px 0 0;
	height:50%;
    }
        .projetImage:nth-child(1),.projetImage:nth-child(2),.projetImage:nth-child(3), .projetImage:nth-child(4),.projetImage:nth-child(5),.projetImage:nth-child(6),.projetImage:nth-child(7),.projetImage:nth-child(8){
            background-image: url("images/portfolio/04.jpg");
	    background-size:cover;
	    position:relative;
	    width:20%;
            height: 250px;
	    display:block;
            margin : 1% 1% 1% 1%;	    
        }

    /* Mise en place des 8 différentes images ! */

	.surfaceProjetImage{
	   position:absolute;
	   display:inline-block;
	   height:100%;
	   width:100%;
	   left:0;	
	}

        #conteneurProjetImage aside{
	    position:absolute;
	    display:none;
            z-index: 1;
	    width:100%;
	    height: 31%;
            top:69%;
            background-color: #352a14;
            opacity: 0.8;
            }

           	#conteneurProjetImage .surfaceProjetImage:hover aside,#conteneurProjetImage .surfaceProjetImage:hover .fa{
	    display:block;
	   }



            #conteneurProjetImage aside p{
		display:block-inline;
		margin: 0 0 0 5%;
                color: white;
            }

            #conteneurProjetImage .fa{
		display:none;
                z-index: 2;
		margin : auto;
                position: absolute;
		top:58%;
		left:80%;
                height: 20%;
                width: 13%;
		line-height: 52px;
                color: white;
                background-color: #5cadd3;
                border: 2px solid white;
                border-radius: 1000px;
            }


		/* RESPONSIVE */


		@media screen and (max-width: 1280px)
		{
   			#conteneurProjetImage{
       				margin:0;      
    			}
			#conteneurProjetImage aside, #conteneurProjetImage .fa{
	  			display:none;
            		}
                }


/* 4ème partie ; carte avec un formulaire de contact-------------------- */

    /* Mise en forme du formulaire */

    #carteEtFormulaire iframe{
        position: absolute;
        height: 100%;
        width: 100%;
        margin: 0 0 0 0;
    }

    #carteEtFormulaire form{
        position: absolute;
        background-color: #f2f6f8;
        height:78%;
	min-height: 780px;
        width :25%;
	min-width:300px;
        margin:4% 0 0 65%;
        opacity: 0.9;        
    }

    #carteEtFormulaire form p {
        margin : 5% 5% 5% 5%;
        height: 100%;
        font-size: 20px;
    }

    #carteEtFormulaire form input{
        width: 100%;
        height: 5.5%;
        border:1px solid #cccccc;
        border-radius: 5px;
        background-color: white;
        font-size: 20px; 
    }
    
    #carteEtFormulaire form textarea {
        width: 100%;
        height: 38%;
        background-color: white;
        font-size: 20px;
    }

    #carteEtFormulaire form button {
        color:white;
        font-size: 20px;
        background-color: #5cadd3;
        border-bottom:4px solid #4494bb;
        border-radius: 3px;
        width: 35%;
        min-height: 6%;
        
    }

		/* RESPONSIVE */


		@media screen and (max-width: 850px)
		{
			#carteEtFormulaire{
				background-color:grey;
    			}
   			#carteEtFormulaire iframe{
        			display:none;
				background-color:black;
    			}
			#carteEtFormulaire form{
				margin: 4% 0 0 0;
				left:37.5%;
   			 }
                }
	
		@media screen and (max-width: 500px)
		{
			#carteEtFormulaire form{
				left:16%;
   			 }
                }


